package com.sample.soa.{{pkg_service_name}}.config;

{{{app_config_import_sec}}}
import com.sample.soa.config.SOAConfig;
{{#do_couchbase}}
import com.sample.soa.db.couchbase.config.CouchbaseConfig;
{{/do_couchbase}}
{{#is_composite}}
import com.yammer.tenacity.core.config.BreakerboxConfiguration;
import com.yammer.tenacity.core.config.TenacityConfiguration;
{{/is_composite}}

/**
 * The application Config class.
 *
 * @author  {{author}}
 * @version {{version}}
 */
public class {{config_class_name}} extends SOAConfig {
{{#do_couchbase}}
  @NotNull()
  @JsonProperty()
  private static CouchbaseConfig {{identifier_service_name}}Datasource = new CouchbaseConfig();
{{/do_couchbase}}

{{#is_composite}}
  /*
   * This could be multiple tenacity configs; one for each external call;
   * for example:
   * it could be
   * 1. guestUsersServiceTenacityConfig
   * 2. guestPostsServiceTenacityConfig
   * and corresponding get methods for each.
   * This will mandate having to have two tenacity configs in guest.yml file.
   * For the simplicity's sake, one config is used for both the external calls.
   *
   */
  @NotNull()
  private TenacityConfiguration tenacityConfig;

  @NotNull()
  private BreakerboxConfiguration breakerboxConfiguration;
{{/is_composite}}

{{#do_couchbase}}
  /**
   * Returns the couchbase datasource.
   *
   * @return Returns the couchbase datasource.
   */
  public static CouchbaseConfig get{{uc_identifier_service_name}}Datasource() {
    return {{config_class_name}}.{{identifier_service_name}}Datasource;
  }

  /**
   * Sets the couchbase datasource.
   *
   * @param {{identifier_service_name}}Datasource The couchbase datasource.
   */
  public void set{{uc_identifier_service_name}}Datasource(final CouchbaseConfig {{identifier_service_name}}Datasource) {
    {{config_class_name}}.{{identifier_service_name}}Datasource = {{identifier_service_name}}Datasource;
  }
{{/do_couchbase}}

{{#is_composite}}
  /**
   * Get a tenacity config.
   *
   * @return A TenacityConfiguration object.
   */
  @JsonProperty()
  public TenacityConfiguration getTenacityConfig() {
    return tenacityConfig;
  }

  /**
   * Get a breakerbox configuration.
   *
   * @return A BreakerboxConfiguration object.
   */
  @JsonProperty()
  public BreakerboxConfiguration getBreakerboxConfiguration() {
    return breakerboxConfiguration;
  }
{{/is_composite}}

}
