package com.sample.soa.{{pkg_service_name}}.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import com.couchbase.client.java.Bucket;
import com.couchbase.client.java.Cluster;
import com.couchbase.client.java.CouchbaseCluster;
import com.sample.soa.db.couchbase.config.CouchbaseConfig;

/**
 * The Config class.
 *
 * @author  {{author}}
 * @version {{version}}
 */
@Configuration()
public class Config {
  /**
   * DatabaseResourceConfig details of database to be connected.
   */
  private CouchbaseConfig cbResource = {{config_class_name}}.get{{uc_identifier_service_name}}Datasource();

  /**
   *
   * @return Cluster Sets up the cluster for database.
   */
  @Bean()
  public Cluster cluster() {
    return CouchbaseCluster.create(cbResource.getCouchbaseConfiguration(), cbResource.getHosts());
  }

  /**
   *
   * @return Bucket opens the bucket to be worked on.
   */
  @Bean()
  public Bucket bucket() {
    return cluster().openBucket(cbResource.getBucketName(), cbResource.getPassword());
  }
}
