package com.sample.soa.{{pkg_service_name}}.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import com.sample.soa.config.DatabaseResourceConfig;

/**
 * The Config class.
 *
 * @author  {{author}}
 * @version {{version}}
 */
@Configuration()
public class Config {
  /**
   * DatabaseResourceConfig details of database to be connected.
   */
  private DatabaseResourceConfig databaseResource = {{config_class_name}}.getPrimaryDatabaseResource();

}
