package com.sample.soa.{{pkg_service_name}}.errors.constants;

/**
 * @author  {{author}}
 * @version {{version}}
 */
public final class AppErrorType {
  /**
   * A test error code.
   */
  public static final String TEST_ERROR = "testError";

  /**
   * AppErrorType constructor.
   */
  private AppErrorType() {
  }
}
