package com.sample.soa.{{pkg_service_name}}.errors;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

{{{error_reg_import_sec}}}

/**
 * @author  {{author}}
 * @version {{version}}
 */
public final class ErrorsRegistration {
  private static final Logger LOGGER = LoggerFactory.getLogger(ErrorsRegistration.class);
  private static final int INITIAL_ERROR_CODE = 1000;

  private ErrorsRegistration() {
  }

  /**
   * Register an error code.
   */
  public static void register() {
    try {
      /**
       * Application-defined Error Codes.
       *
       * The ErrorCode.addCode is the supported method for registering new Error Codes.
       * Error Code is the value returned with ErrorContext and Message.  You must create
       * a corresponding exception for each code.  You CAN throw a single exception with
       * multiple notifications (grouped by notification code type).  Duplicate and modify
       * this line for each Error Code.
       */
      ErrorCode.addCode(AppErrorType.TEST_ERROR, INITIAL_ERROR_CODE, "Test error.");

    } catch (Exception ex) {
      LOGGER.error("Unable to register error codes.", ex);
    }

    try {
      /**
       * Application-defined Notification Code types.
       *
       * NotificationTypes.addCode is used to register new notification code types. The key
       * must be unique and the code assigned is returned to the caller. Duplicate and modify
       * this line for each Notification Code type.
       *
       * When handling proxy/gateway returned codes, you do not have to add them to the list here.
       * Simply construct the notification with the code from the
       */
      NotificationTypes.addCode("TestCode", "This is a test"); // returns integer notifCode

    } catch (Exception ex) {
      LOGGER.error("Unable to register notification code type", ex);
    }
  }
}
