package com.sample.soa.{{pkg_service_name}}.config;

import com.yammer.tenacity.core.properties.TenacityPropertyKey;

/**
 * The external dependency keys class.
 *
 * @author  {{author}}
 * @version {{version}}
 */
public enum ExternalDependencyKeys implements TenacityPropertyKey {
{{{hysterix_list_code}}}
}
