package com.sample.soa.{{pkg_service_name}}.config;

import java.util.Map;

import com.google.common.collect.ImmutableMap;
import com.yammer.tenacity.core.bundle.BaseTenacityBundleConfigurationFactory;
import com.yammer.tenacity.core.config.BreakerboxConfiguration;
import com.yammer.tenacity.core.config.TenacityConfiguration;
import com.yammer.tenacity.core.properties.StringTenacityPropertyKeyFactory;
import com.yammer.tenacity.core.properties.TenacityPropertyKey;
import com.yammer.tenacity.core.properties.TenacityPropertyKeyFactory;

/**
 * The external dependency bundle configuration factory class.
 *
 * @author  {{author}}
 * @version {{version}}
 */
public class ExternalDependencyBundleConfigurationFactory
                         extends BaseTenacityBundleConfigurationFactory<{{config_class_name}}> {

  /**
   * Returns a Map of key TenacityPropertyKey and value TenacityConfiguration.
   *
   * @param configuration The configuration.
   *
   * @return              A Map object.
   *
   */
  @Override()
  public Map<TenacityPropertyKey, TenacityConfiguration> getTenacityConfigurations(
               final {{config_class_name}} configuration) {

    // This enables us to configure the tenacity config parameters dynamically.
    final ImmutableMap.Builder<TenacityPropertyKey, TenacityConfiguration> builder
      = ImmutableMap.builder();

{{{external_factory_code_fragment}}}

    return builder.build();
  }

  @Override()
  public BreakerboxConfiguration getBreakerboxConfiguration(
               final {{config_class_name}} config) {
    return config.getBreakerboxConfiguration();
  }

  @Override()
  public TenacityPropertyKeyFactory getTenacityPropertyKeyFactory(
               final {{config_class_name}} applicationConfiguration) {
    return new StringTenacityPropertyKeyFactory();
  }
}
