package com.sample.soa.{{pkg_service_name}};

{{{soa_import_sec}}}
import io.dropwizard.setup.Environment;

/**
 * @author  {{author}}
 * @version {{version}}
 */
public class {{class_service_name}}Application extends SOAApplication<{{class_service_name}}Config> {
  // Set the Application Error Context from the Swagger x-error-context value
  // This line is generated and must not be changed
  private static final String DFLT_CMD      = "server";
  private static final String DFLT_APP_YAML = "app.yaml";
  private static final String ERROR_CONTEXT = "{{error_context}}";

  /**
   * Main application method.
   *
   * @param  args       Command line arguments.
   * @throws Exception  Thrown if exception found.
   */
  public static void main(final String[] args) throws Exception {
    if (args.length > 1) {
      new {{class_service_name}}Application().run(args);
    } else {
      new {{class_service_name}}Application().run(DFLT_CMD, DFLT_APP_YAML);
    }
  }

  @Override()
  public void run(final {{class_service_name}}Config config, final Environment environment)
      throws Exception {
    super.run(config, environment);

    // This line is generated and must not be changed
    ErrorContext.setContext(ERROR_CONTEXT);

    // Registers error codes (code and message)
    ErrorsRegistration.register();
  }
{{#is_composite}}

  @Override()
  public TenacityBundleConfigurationFactory getApplicationTenacityBundle() {
    return new ExternalDependencyBundleConfigurationFactory();
  }
{{/is_composite}}
}
