package com.sample.soa.{{pkg_service_name}}.errors.exceptions;

{{{errors_import_sec}}}

/**
 * @author  {{author}}
 * @version {{version}}
 */
public class TestException extends AppException {
  /**
   * TestException constructor.
   *
   * @param code    The error code.
   * @param message The error message.
   */
   // public TestException(final int code, final String message)

  /**
   * TestException constructor.
   */
  public TestException() {
    super(AppErrorType.TEST_ERROR,
          ErrorCode.getCode(AppErrorType.TEST_ERROR).getErrCode(),
          ErrorCode.getCode(AppErrorType.TEST_ERROR).getMessage());
  }
}
