/**
 * @author {{author}}
 *
 *   This package extends the common error library that is part of soa-commons.
 *   The purpose of this package is to to extend the list of available exceptions
 *   to include 'application-defined' exceptions that represent logic errors that
 *   must be uniquely communicated to a client application.
 *
 *   INTENDED USE
 *   The ability to extend the common errors list should be limited to cases where:
 *   * the error is specific to that service and would not be applicable to other services.
 *   * the new error code is necessary for client applications to respond appropriately to
 *     the requester.
 *
 *   REQUIREMENTS FOR APPLICATION-DEFINED EXCEPTIONS
 *   * must follow the definition specified in the ErrorCodeInterface
 *   * must provide a unique ErrCode (int) value that must be greater than 1000.
 *   * must be consistently defined in the service error constants AppErrorCode enum to include
 *   * the ErrCode (int)
 *   * the HTTP Status for the response
 *   * the default string message - with optional string format parameter codes
 *   * must provide an exception class specific to the AppErrorCode
 *     * the exception class must follow the conventions of the common error library
 *     * the exception class must provide appropriate constructor signatures for any string format
 *       parameters contained in the default message string.
 *
 */
package com.sample.soa.{{pkg_service_name}}.errors;