server:
  registerDefaultExceptionMappers: false
  requestLog:
    appenders: []
  applicationConnectors:
  - type: http
    port: 9006
  adminConnectors:
  - type: http
    port: 9007

{{#do_database}}
{{identifier_service_name}}Datasource:
  hosts: {{db_hostname_var}}
  bucketName: {{db_datastore_var}}
  username: {{db_username_var}}
  password: {{db_password_var}}
  numberOfReplicas: {{db_replicacount_var}}
{{/do_database}}

reportMetricsToConsole: false

{{#is_composite}}
# The BREAKERBOX_HOST and BREAKERBOX_PORT variables have to be defined in the environment.
# Devops will be responsible to deliver these in test/prod environments. Developers would
# set these to localhost and 8080 if they are running on their local during development.
breakerboxConfiguration:
  urls: http://${BREAKER_BOX_HOST}:${BREAKER_BOX_PORT}${BREAKER_BOX_PATH}
  initialDelay: 5s
  delay: 2s

tenacityConfig:
  executionIsolationThreadTimeoutInMillis: 1000
  executionIsolationStrategy: THREAD
  threadpool:
    threadPoolCoreSize: 10
    keepAliveTimeMinutes: 1
    maxQueueSize: -1
    queueSizeRejectionThreshold: 5
    metricsRollingStatisticalWindowInMilliseconds: 10000
    metricsRollingStatisticalWindowBuckets: 10
  circuitBreaker:
    requestVolumeThreshold: 20
    errorThresholdPercentage: 50
    sleepWindowInMillis: 5000
    metricsRollingStatisticalWindowInMilliseconds: 10000
    metricsRollingStatisticalWindowBuckets: 10
{{/is_composite}}
