<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="off"/>
    <logger name="com.sample.dmx.common.exception" level="info"/>
    <logger name="org.meanbean.factories.util" level="error"/>
</configuration>