<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

  <groupId>com.sample.soa</groupId>
  <artifactId>{{service_name}}</artifactId>
  <version>0.0.1-SNAPSHOT</version>
  <packaging>jar</packaging>
  <modelVersion>4.0.0</modelVersion>

  <name>{{uc_service_name}} Service</name>
  <description>The {{uc_service_name}} Service</description>

  <properties>
    <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    <microservice.mainClass>com.sample.soa.{{pkg_service_name}}.{{class_service_name}}Application</microservice.mainClass>
    <currentversion.swagger>{{swagger_version}}</currentversion.swagger>
    <currentversion.rest-gen>{{restgen_version}}</currentversion.rest-gen>
  </properties>

  <parent>
    <groupId>com.sample.maven</groupId>
    <artifactId>DropWizardGlobals</artifactId>
    <version>{{parent_version}}</version>
  </parent>

  <dependencies>
    {{#couchbase_pom}}
    <dependency>
      <groupId>com.couchbase.client</groupId>
      <artifactId>java-client</artifactId>
      <version>2.2.3</version>
    </dependency>
    {{/couchbase_pom}}
  </dependencies>
</project>
